
.css-1d3z3hw-MuiOutlinedInput-notchedOutline { /* Tämä poistaa kaikki inputfield borderit */
  display: none;
}

#addpetName { /* upload.js addpetnameStyle ei ylikirjoita kaikkia ominaisuuksia, joten tämä id on tarpeellinen */
  text-align: center;
  height: 30px;
  font-size: 30px;
  font-family: var(--HeadFont);
}

#addpetDesc {
  font-family: var(--RegularFont);
}

#addpetPhoto {
  font-family: var(--RegularFont);
}
