
.map {
  height: 40vh;
  max-width: 80vw;
  min-width: 80vw;
  top: -46px;
  border: 2px solid var(--Orange);
  margin: auto;
}

.leaflet-top .leaflet-control {
  margin-top: 100px;
}

.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive, svg.leaflet-image-layer.leaflet-interactive path {
  display: none;
}
